.intimus-footer {
    padding-top: 8px;
    padding: 16px;
    background-color: #ecf1f4;
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 800px;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: #626162;
    gap: 10px;
}