.list {
        background-color: #fff;
        width: 100%;
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: flex-end;
        justify-content: space-around;
        vertical-align: middle;
}

.item {
        text-transform: lowercase;
        text-decoration: none;
        align-items: center;
        padding: 1em;
}

.selected {
        border-bottom: 0.125rem solid #f62459;
        font-weight: 700;
        background: linear-gradient(354.34deg,#eb1a29 4.51%,#ff00bc 95.49%);
        color: #fff;
        text-transform: lowercase;
        text-decoration: none;
        align-items: center;
        padding: 1em;
}
