.header {
    background-color: #ecf1f4;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.header-user-info-text {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: .875rem;
    line-height: 16px;
    color: #626162;
}

.header-menu {
    font-size: 1.5rem !important;
}