@font-face {
  font-family: "Kotex";
  src: local("Kotex"),
    url("./fonts/Kotex-Light.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "KotexBold";
  src: local("KotexBold"),
    url("./fonts/Kotex-Bold.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "Kotex";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf1f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
