.answer-container {
    display: flex;
    flex-direction: column;
}

.answer-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 8px 8px;
    gap: 8px;


    width: 60%;
    min-height: 29px;


    /* Secondary/Light Pink 1 */

    background: rgba(245, 14, 113, 0.6);
    border-radius: 0px 10px 10px 10px;
    color: #fff;
    margin-bottom: 20px;
}

.answer-options {
    /* Opção select */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    /* Secondary/Light Pink 1 */

    background: rgba(245, 14, 113, 0.6);
    border-radius: 5px;
    color: #fff;
    width: 60%;
    margin-bottom: 5px;
}

.send-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 8px 16px;
    width: 60%;

    /* Secondary/ Lilac */

    background: #A787BE;
    border-radius: 10px 0px 10px 10px;
    align-self: flex-end;
    margin-bottom: 20px;
    color: #FFFFFF;
}