.answer-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 8px 8px;
    gap: 8px;


    width: 131px;
    min-height: 29px;


    /* Secondary/Light Pink 1 */

    background: rgba(245, 14, 113, 0.6);
    border-radius: 0px 10px 10px 10px;
    color: #fff;
}

.answer-options {
    /* Opção select */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    position: absolute;
    width: 78px;
    height: 24px;
    left: 16px;
    top: 388px;

    /* Secondary/Light Pink 1 */

    background: rgba(245, 14, 113, 0.6);
    border-radius: 5px;
    color: #fff;
}